/***/

:root {
    --text-color: #{$dark-400};
    --title-section: #{$gray-400};

}


    h1{
        color: var(--title-section);
    }

html {
    font-size: 62.5%;
    /*
    TODO:
    font-size par defaut est de 16px (dans la pluspart des navigateurs) donc si taille par defaut(16px) * 62.5% = 10px, 
    else si taille à été modifié permet de conserver les préférences de l'utilisateurs et changer l'apparence en conséquence
    */
}

body {
    box-sizing: border-box;
}

main {
    transition: color 0.5s ease-in, background 0.5s linear;
}
