/* tout ce qui touche à la typo et le text*/

/*
.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
     TODO:  Hack fix

     
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: moveInRight 1s ease-out;
    }
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $Standart-font-color;
    padding: 3rem;
}*/

@font-face {
    font-family: 'FontAwesome';
    src: url('./Assets/fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('./Assets/fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../Assets/fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../Assets/fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../Assets/fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../Assets/fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CabinRegular;
    src: url('./Assets/fonts/Cabin/Cabin-Regular.ttf')
}

@font-face {
    font-family: Lobster;
    src: url('./Assets/fonts/Lobster/Lobster-Regular.ttf')
}

/** FontAwesome**/

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-spinner:before {
    content: "\f110"
}

.fa-pulse {
    @include prefixer(animation,
    fa-spin .5s infinite steps(8));
}

