.line_container {
  position: fixed;
  z-index: -1;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  top: 0;

  .line {
    height: 0%;
    border-left: solid 0.5px var(--line-color);
  }
  .line_active {
    height: 100%;
  }
  @for $i from 4 through 12 {
    .line#{$i} {
      display: none;
      @include respond-to(medium) {
        display: block;
      }
    }
  }
}
.grid_active {
  animation-name: grid-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.grid_inactive {
  animation-name: grid-animation-reverse;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

// Animations
@keyframes grid-animation {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes grid-animation-reverse {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
