.blogs-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include respond-to(medium){
        align-items: flex-start;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include respond-to(medium){
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
        }
    }
    &__item {

        @include respond-to(medium){
            max-width: calc(33% - 16px);
            &:not(:last-of-type){
                margin-right: 16px;
            }
        }

        &-article {
            position: relative;
        }
        &-tag {
            position: absolute;
            top: 0;
            left: calc(80% - 0.5em);
            transform: rotate(-90deg);
            color: $off-white;
            mix-blend-mode: difference;
            font-weight: $font-weight-bold;
            font-size: $body-font-size-small;
            width: fit-content;
            font-family: $heading-font-family;
        }
        &-img {
            width: 100%;
            background: $dark-400;
        }
        & header {
            margin: 17px 12px;
            padding: 0;
        }
        &-header {
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $heading-font-size-medium-small;
            text-align: left;
            font-weight: $font-weight-regular;
            font-family: $heading-font-family;
        }
    }
}
