.blog{
    
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item{
        &-article{
            position: relative;

            time{
                position: absolute;
                top: 0;
                left: 80%;
                transform: rotate(-90deg);
                color: $off-white;
                mix-blend-mode: difference;
                font-weight: 700;
            }
        }
    &-img{
        width: 100%;
        background:$dark-400;
    }

    }
}