$items: 3;

.quick-link{
    background: $dark-400;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    &__container{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    &__item{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / $items);

        a,
        a:active,
        a:visited{
            color: $off-white;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        &:not(:last-of-type){
            border-right: 1px solid $off-white;
        }
    }

}