.title {
    &-section {
        @include fluid-type(font-size, $small, $extra-large, 3.6rem, 9.6rem);
        font-family: $font-family-headings;
        color: var(--text-color-primary);
    }
    &-form {
        @include fluid-type(font-size, $small, $extra-large, 3.6rem, 8.6rem);
        font-family: $font-family-headings;
    }
}